/* Mason's CSS Page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #464096;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px #0000001a;
    position: sticky;
    top: 0px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #272353;
    transition: background-color .3s;
}
  
nav a:hover {
    background-color: #464096;
}
   
main {
    width: 100%;
    max-width: 800px;
    background: #ffffff;
    border-radius: 8px;
    padding: 30px;
    gap: 40px;
	margin: 1.6em auto;

}

.container {
    display: flex;
    justify-content: center;
    padding: 20px; 
}


.multicol {
	column-count: ;
}

.grid{
	display: grid;
}

article h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

article p {
    font-size: 1.1rem;
    line-height: 1.6;
}
  
details {
    margin-top: 15px;
}
  
h2 {
    border-bottom: 1px solid #a2a9b1;
}

.blueberry {
    margin: 0 0 .5em 1em;
    float: right;
}
  
.blueberry img {
    width: 280px;
    height: 192px;
}
  
table {
    margin-top: 15px;
    width: 100%;
    border: 1px solid #000000;
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid #000000;
    padding: 8px;
}
  
th {
    color: #ffffff;
    background-color: #464096;
}
  
footer {
    background-color: #464096;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}